/* .elementor-widget-wp-travel-meta-trip-rating .wp-travel-average-review,
.elementor-widget-wp-travel-meta-trip-rating .wtwe-meta-trip-rating {
    word-break: normal !important;
} */

.elementor-widget-wp-travel-meta-trip-rating *{
    word-break: normal !important;
}

.wtwe-meta-trip-rating .wtwe-rating-minimal {
    background-color: green;
    border-radius: 5px;
    padding: 5px 7px;
    min-width: 65px;
    text-align: center;
    vertical-align: middle;
}

.wtwe-meta-trip-rating .wtwe-rating-minimal{background-color:green;border-radius:5px;padding:5px 7px;min-width:65px;text-align:center;vertical-align:middle}

.wtwe-meta-trip-rating .wp-travel-average-review,
.wtwe-meta-trip-rating .wtwe-meta-trip-rating {
    word-break: normal !important;
}
.wtwe-meta-trip-rating .wtwe-rating-minimal.wtwe-hidden,
.wtwe-meta-trip-rating .wtwe-rating-basic.wtwe-hidden {
    opacity: 0;
}

.wtwe-meta-trip-rating .wtwe-rating-minimal i.wtwe-hidden {
    display: none;
}